# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# AWS
certs/

#test files
oldfiles/
test.html